[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "ggprism"]
	path = ggprism
	url = https://github.com/csdaw/ggprism
	shallow = true
	registered = true
